.App {
  text-align: center;
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

}

.name {
  font-size: 60px;
}

.title {
  font-size: 50px;
}

header p {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

/* GENERAL */

.profilePic {
  border-radius: 80px;
}

.header {
  font-size: 40px;
  padding: 0 0 30px 0;
}

/* Tech  */

.techSection {
  padding: 0 0 100px 0;
}

.allSkills {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  justify-content: space-around;
  /* background-color: pink; */
}

.stackType {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  /* height: 200px; */
  width: 300px;
  border-radius: 20px;
  /* background-color: green; */
  padding: 2px;
  font-size: 16pt;
  border: 1px solid #333333;
  /* margin: 6px */
}

.stackType div {
}

.stackHeader {
  /* align-items: center; */
  margin: 0px;
  font-size: 30px;
  padding: 0 0 30px 0;
}

.stackHeader img {
  width: 70px;
  height: 70px;
}

.allIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 900px; */
  /* align-self: flex-start; */
}

.techIcons img {
  width: 70px;
  height: 70px;
  /* background-color: blue; */
  padding: 10px;
  
}

.expressLogo {
  max-height: 20px;
}

.mongoLogo {
  min-width: 140px;
}

.techIcons {
  padding: 1px;
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  /* background-color: yellow; */
}

/* PROJECTS */

.allProjects {
  padding: 0 0 100px 0;
}

.allProjects p {
  padding: 0 0 30px 0;
}

.projectPhoto {
  border: 3px solid #333333;
}

/* HOBBIES */

.hobbyIcons {
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hobbyIcons img {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
}

.profilePic {
  height: 25%;
  width: 25%;
}

.projectPhoto {
  height: 60%;
  width: 60%;
}

.projectVideos {
  position: relative;
}

/* .allProjects {
  display: flex;
  flex-direction: row;
} */
